name: Change App-Version
on:
  workflow_dispatch:
    inputs:
      app-version:
        required: true
        type: string
        description: "change the version of the underlying application"
      chart-location:
        required: false
        type: string
        default: "."
        description: "location of the helm chart"
      chart-name:
        required: true
        type: choice
        description: "helm chart to be updated"
        options:
          - zipline
          - calibre-web-automated
          - samba
  workflow_call:
    inputs:
      app-version:
        required: true
        type: string
        description: "change the version of the underlying application"
      chart-location:
        required: false
        type: string
        default: "."
        description: "location of the helm chart"
      chart-name:
        required: true
        type: string
        description: "name of the helm chart"

jobs:
  change-app-version:
    runs-on: ubuntu-latest
    steps:
      - name: "Configure OP-Connect"
        uses: 1password/load-secrets-action/configure@v2
        with:
          connect-host: https://op-connect.jk-dev.de
      - name: "Load GitHub Credentials"
        id: load-jk-cluster-bot-creds
        uses: 1password/load-secrets-action@v2
        env:
          OP_CONNECT_TOKEN: ${{ secrets.OP_CONNECT_TOKEN }}
          JK_CLUSTER_BOT_TOKEN: op://GitHub-Actions/github-helm-charts-push-token/credential
          JK_CLUSTER_USERNAME: op://GitHub-Actions/github-helm-charts-push-token/username
          JK_CLUSTER_EMAIL: op://GitHub-Actions/github-helm-charts-push-token/email
      - uses: actions/checkout@v2
        with:
          token: ${{ env.JK_CLUSTER_BOT_TOKEN }}
      - name: "Get Chart Version"
        run: |
          CHART_VERSION=$(grep '^version:' ${{ inputs.chart-name}}/Chart.yaml | awk '{print $2}')
          CHART_PART=$(echo $CHART_VERSION | cut -d'-' -f1)
          echo "CHART_VERSION=$CHART_PART" >> $GITHUB_ENV
        working-directory: ${{ inputs.chart-location }}
      - name: "Get new Chart Version"
        run: |
          APP_VERSION_NORMALIZED=$(echo "${{ inputs.app-version }}" | tr '.' '-')
          NEW_VERSION="${CHART_VERSION}-release-${APP_VERSION_NORMALIZED}"
          sed -i "s/^version:.*/version: $NEW_VERSION/" ${{ inputs.chart-name }}/Chart.yaml
          sed -i "s/^appVersion:.*/appVersion: ${{ inputs.app-version }}/" ${{ inputs.chart-name }}/Chart.yaml
        working-directory: ${{ inputs.chart-location }}
      - name: "View chart-directory contents"
        run: ls -al
        working-directory: ${{ inputs.chart-location }}
      - name: "View helm-chart.yaml"
        run: cat Chart.yaml
        working-directory: ${{ inputs.chart-location }}/${{ inputs.chart-name }}
      - name: Commit and Push Changes
        run: |
          git config --global user.name '${{ env.JK_CLUSTER_USERNAME }}'
          git config --global user.email '${{ env.JK_CLUSTER_EMAIL }}'
          git commit -am "Updated ${{ inputs.chart-name }} application version to ${{ inputs.app-version }}"
          git push