name: Publish Zipline Helm Chart
on:
  workflow_dispatch:
  push:
    paths:
      - zipline/**
jobs:
  publish-zipline:
    name: Publish Zipline Helm Chart
    uses: ./.github/workflows/publish-helm-chart.yml
    with:
      chart-name: 'zipline'
    secrets: inherit
  get-chart-version:
    name: Get Zipline Chart Version
    needs: publish-zipline
    outputs:
      chart-version: ${{ steps.get-chart-version.outputs.CHART_VERSION }}
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Get Helm Chart Version"
        id: get-chart-version
        run: |-
          CHART_VERSION=$(grep '^version:' ${{ inputs.chart-name}}/Chart.yaml | awk '{print $2}')
          echo $CHART_VERSION
          echo "CHART_VERSION=$CHART_VERSION" >> $GITHUB_OUTPUT
  debug-chart-version:
    name: Debug Chart Version
    runs-on: ubuntu-latest
    needs: get-chart-version
    steps:
      - name: "Debug Chart Version"
        run: |-
          echo ${{ needs.get-chart-version.outputs.chart-version }}
  deploy-zipline:
    name: Deploy Zipline Helm Chart
    needs: get-chart-version
    uses: ./.github/workflows/deploy-helm-chart.yml
    with:
      deployment-identifier: 'zipline'
      chart-version: ${{ needs.get-chart-version.outputs.chart-version }}
    secrets: inherit
