name: Publish Urlaubsverwaltung Helm Chart
on:
  workflow_dispatch:
  push:
    paths:
      - urlaubsverwaltung/**
jobs:
  publish-urlaubsverwaltung:
    name: Publish Urlaubsverwaltung Helm Chart
    uses: ./.github/workflows/publish-helm-chart.yml
    with:
      chart-name: 'urlaubsverwaltung'
    secrets: inherit
  deploy-urlaubsverwaltung-petrus-kh:
    name: Deploy Urlaubsverwaltung Helm Chart
    needs: publish-urlaubsverwaltung
    uses: ./.github/workflows/deploy-helm-chart.yml
    with:
      deployment-identifier: 'urlaubsverwaltung-petrus-kh'
      chart-version: ${{ needs.publish-urlaubsverwaltung.outputs.chart-version }}
    secrets: inherit