name: Publish Zipline Helm Chart
on:
  workflow_dispatch:
  push:
    paths:
      - zipline/**
jobs:
  publish-zipline:
    name: Publish Zipline Helm Chart
    uses: ./.github/workflows/publish-helm-chart.yml
    with:
      chart-name: 'zipline'
    secrets: inherit
  deploy-zipline:
    name: Deploy Zipline Helm Chart
    needs: publish-zipline
    uses: ./.github/workflows/deploy-helm-chart.yml
    with:
      deployment-identifier: 'zipline'
      chart-version: ${{ needs.publish-zipline.outputs.chart-version }}
    secrets: inherit
