name: Publish Helm Chart with patched Application Version
on:
  workflow_dispatch:
    inputs:
      chart-location:
        required: false
        type: string
        default: "."
        description: "location of the helm chart directory"
      chart-name:
        required: true
        type: string
        description: "name of the helm chart"
  workflow_call:
    inputs:
      chart-location:
        required: false
        type: string
        default: "."
        description: "location of the helm chart directory"
      chart-name:
        required: true
        type: string
        description: "name of the helm chart"
    outputs:
      chart-version:
        description: "the version of the published helm chart"
        value: ${{ jobs.publish-helm-chart.outputs.chart-version }}
    secrets:
      OP_CONNECT_TOKEN:
        required: true
jobs:
  publish-helm-chart:
    outputs:
      chart-version: ${{ steps.get-chart-version.outputs.CHART_VERSION }}
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v2
      - name: "Install Helm"
        uses: azure/setup-helm@v4
      - name: "Configure OP-Connect"
        uses: 1password/load-secrets-action/configure@v2
        with:
          connect-host: https://op-connect.jk-dev.de
      - name: "Package Helm Chart"
        run: helm package ${{ inputs.chart-name }}
        working-directory: ${{ inputs.chart-location }}
      - name: "Get Helm Chart Version"
        id: get-chart-version
        run: |-
          CHART_VERSION=$(grep '^version:' ${{ inputs.chart-name}}/Chart.yaml | awk '{print $2}')
          echo $CHART_VERSION
          echo "CHART_VERSION=$CHART_VERSION" >> $GITHUB_OUTPUT
        working-directory: ${{ inputs.chart-location }}
      - name: "Load Helm Registry Credentials"
        id: load-jk-cr-creds
        uses: 1password/load-secrets-action@v2
        env:
          OP_CONNECT_TOKEN: ${{ secrets.OP_CONNECT_TOKEN }}
          JK_CR_TOKEN: op://GitHub-Actions/jk-registry-access/password
          JK_CR_USERNAME: op://GitHub-Actions/jk-registry-access/username
          JK_CR_CHARTS_LOCATION: op://GitHub-Actions/jk-registry-access/charts-location
          JK_CR_HELM_REGISTRY: op://GitHub-Actions/jk-registry-access/helm-registry
      - name: "Login to JK-Registry"
        run: echo ${{ env.JK_CR_TOKEN }} | helm registry login ${{ env.JK_CR_HELM_REGISTRY }} -u ${{ env.JK_CR_USERNAME }} --password-stdin
      - name: "Push Helm Chart to JK-Container Registry"
        run: helm push ${{ inputs.chart-name }}-*.tgz ${{ env.JK_CR_CHARTS_LOCATION }}
        working-directory: ${{ inputs.chart-location }}
      - name: "Logout from JK-Registry"
        run: helm registry logout ${{ env.JK_CR_HELM_REGISTRY }}